body {
    margin: 65px 25px 65px 25px;
    text-align: left;
    font-family: "comic sans ms";
}

h1 {
    color: #343a40;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.card-header {
    background-color: lightgray;
    font-size: large;
    font-weight: bold;
}