body {
    margin: 65px 25px 65px 25px;
    font-family: "comic sans ms";
}

h2 {
    color: #343a40;
    text-align: center;
    padding: 10px;
}

#photobox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: fit-content;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    .photo {
        width: 250px;
    }
    
}